---
layout: home
---

<div class="home">

      {% for post in paginator.posts limit:1 %}
        <div class="feature">
          {{ if post.image }}
            <div class="feature-bg" style="background-image: url('{{site.baseurl}}/{{ post.image }}')"></div>
          {{ endif }}
          <div class="image-gradient darker"></div>
          <a href="{{ post.url }}">
            <h2 class="post-title" itemprop="name headline">{{ post.title }}</h2>
          </a>
          <time>{{ post.date | date: "%b %-d, %Y" }}</time>
          <div class="post-content" itemprop="articleBody">
            {{ post.excerpt }}

            {% capture content_words %}
            {{ post.content | number_of_words }}
            {% endcapture %}

            {% capture excerpt_words %}
            {{ post.excerpt | number_of_words }}
            {% endcapture %}

            {% if excerpt_words != content_words %}
              <a href="{{ post.url }}" class="read-more">Read more...</a>
            {% endif %}

          </div>
        </div>
      {% endfor %}

    <div class="grid">

    {% for post in paginator.posts offset:1 %}
    <div class="panel">
      {{ if post.image }}
        <a href="{{ post.url }}">
          <div class="panel-img" style="background-image: url('{{ post.image }}')"></div>
        </a>
      {{ endif }}
      <div class="panel-text">
        <a href="{{ post.url }}">
          <h2 class="post-title" itemprop="name headline">{{ post.title }}</h2>
        </a>
        <time>{{ post.date | date: "%b %-d, %Y" }}</time>
      </div>

    </div>
    {% endfor %}

    </div>

    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
      {% endif %}
      <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Next</a>
      {% endif %}
    </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js"></script>
  <script src="{{site.baseurl}}/js/main.js"></script>
</div>
