<header class="about">
    <a class="site-title" href="{{ site.baseurl }}/">CJ GAMMON</a>
    <div class="about-content">
        Hi. I'm CJ Gammon, I'm passionate about design and technology. My goal is to showcase the creative potential of interactive media and to inspire the community through innovative applications and experiences.
    </div>
    <br/>
    <a href="https://twitter.com/cjgammon" class="twitter-follow-button" data-size="large" data-show-count="true">Follow @cjgammon</a>    
</header>

