<header class="about">
    <a class="site-title" href="{{ site.baseurl }}/">CJ GAMMON</a>
    <a class="hire-link" href="mailto:{{ site.email}}/">HIRE ME</a>
    <div class="about-content">
        I have spent my career creating digital advertising, applications, and websites for top 
        brands like Google and Adobe. I bring creativity and technology together to create amazing experiences.
    </div>
    <br/>
    <a href="https://twitter.com/cjgammon" class="twitter-follow-button" data-size="large" data-show-count="true">Follow @cjgammon</a>    
</header>

