<footer class="site-footer">

    <h2>Want more?</h2>

    Visit my website <a href="{{ site.homepage }}">cjgammon.com</a>.
    Check out some projects on <a href="https://github.com/{{ include.username }}">github</a>.
    Follow me on <a href="https://twitter.com/{{ include.username }}">twitter</a>.
    Check out my videos on <a href="https://www.youtube.com/c/{{ include.username }}">youtube</a>.
    Or reach out to me at <a href="mailto:{{ site.email }}">{{ site.email }}</a>.

</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-8576267-2', 'auto');
  ga('send', 'pageview');

</script>
