/**
 * Site header
 */
.site-header {
    border-bottom: 1px solid #111;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
    background: #333;
    color: white;
}

.site-title {
    font-size: 26px;
    font-family: $header-font-family;
    font-weight: $bold-font-weight;
    line-height: 56px;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: white;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: white;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    a{
      &:hover{
        text-decoration: underline;
      }
    }
}


/**
* home page
*/

.home{
  margin-top: -$spacing-unit;

  time{
    font-size: .7em;
  }
}

.feature{
  position: relative;
  display: flex;
  width: 100%;
  min-height: 450px;
  box-sizing: border-box;
  background: #000055;
  padding: 100px 4rem 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  overflow: hidden;

  .feature-bg{
    position: absolute;
    top: -10px;
    left: -10px;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    background-size: cover;
    background-position: center;
    -webkit-filter: blur(5px);
  }

  *{
    position: relative;
  }

  .post-content{
    margin-top: 1em;
    max-width: 700px;
  }

  a{
    &,
    &:visited{
      color: white;
    }

    &:hover{
      color: #cccccc;
    }
  }

}

.grid{
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 20px auto;
  -webkit-perspective: 2000;
}

.panel{
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 1em;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  background-color: #efefef;
  transform: translateZ(0);
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2);
  cursor: pointer;

  *{
    pointer-events: none;
  }

  h2{
    font-size: 2em;
  }

  a{
    &,
    &:visited{
      color: #003355;
    }
    &:hover{
      color: #777;
    }
  }

  &:hover{
    .panel-img{
      transform: scale(1);
    }

    a{
      color: #777;
    }
  }


}

.panel-img{
  width: 100%;
  height: 150px;
  background-size: cover;
  background-position: center;
  background-color: #333;
  transform-origin: bottom center;
  transform: scale(1.1);
  transition: transform .2s ease-in-out;
}

.panel-text{
  flex: 1;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image-gradient{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 1, 3, 0.7);
}

.pagination{
  margin: auto;
  margin-top: 50px;
  max-width: calc(1000px - 2em);

  a{
    text-decoration: underline;
  }
}

.read-more{
  font-weight: bold;
  text-decoration: underline;
}


@media(max-width: 800px) {
  .main-quarter-img{
    display: none;
  }

  .main-quarter-text{
    width: 100%;
    &:after{
      display: none;
    }
  }
}

@media(max-width: 500px) {
  .main-half{
    width: 100%;
  }

  .main-quarter-container{
    width: 100%;
  }
}
