/**
 * Site header
 */

.about{
    padding-top: 3rem;
    margin-bottom: 3rem;   
}

.about-content{
    width: 40vw;
    max-width: 35em;
    
    @include media-query($on-palm) {
        width: 100%;
    }
}

.site-title {
    font-size: 26px;
    font-family: $header-font-family;
    font-weight: $bold-font-weight;
    line-height: 56px;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin-bottom: 0;
}

.hire-link{
    margin: 0.2em;
    position: absolute;
    right: 0;
    font-size: 26px;
    font-family: $header-font-family;
    font-weight: $bold-font-weight;
    padding: 0.3em 0.4em;
    line-height: 1;
    border-radius: 5px;
    transition: color .4s, background .4s;
    
    &,
    &:visited{
        color: white;
        background-color: $callout-color;
    }

    &:hover{
        color: lighten($callout-color, 50%);
        background-color: darken($callout-color, 5%);
    }

    @include media-query($on-palm) {
        margin: 0;
    }

}

.twitter-follow-button{
    visibility: hidden;
    height: 28px;
}

.twitter-follow-button-rendered{
    visibility: visible;
}


/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



.site-footer{
    margin: 5rem 0;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    letter-spacing: -1px;
    line-height: 1;

    font-size: 6rem;

    @include media-query(2000px) {
        font-size: 5vw;
    }

    @include media-query($on-palm) {
        font-size: 2rem;
    }

}

.post-content {
    margin-bottom: $spacing-unit;
    font-weight: 400;
    font-size: 1.2rem;

    @include media-query($on-palm) {
        font-size: 0.8rem;
    }


    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    a{
      &:hover{
        text-decoration: underline;
      }
    }
}


/**
* home page
*/


.panel{
    margin-bottom: 3em;

    p{
        margin: 0;
    }

    h2{
        font-size: 6rem;

        @include media-query(2000px) {
            font-size: 5vw;
        }

        @include media-query($on-palm) {
            font-size: 2rem;
        }
    }

    time{
        display: block;
        font-size: 0.7rem;
        font-weight: 400;
        margin-bottom: 0.5rem;
    }

    iframe{
        display: none !important;
        max-width: 50vw;
        margin: 0 !important;
    }
}

.pagination{
    margin-top: 50px;

    a{
        font-weight: bold;        
        text-decoration: underline;
    }
}

.read-more{
    display: block;
    padding-top: 0.5em;
    font-weight: bold;
    text-decoration: underline;
}


@media(max-width: 800px) {
  .main-quarter-img{
    display: none;
  }

  .main-quarter-text{
    width: 100%;
    &:after{
      display: none;
    }
  }

  iframe{
    height: 300px;
  }
}

@media(max-width: 500px) {
  .main-half{
    width: 100%;
  }

  .main-quarter-container{
    width: 100%;
  }

  iframe{
    height: 80%;
  }
}
