/**
* Site header
*/

.top-section{
    display: flex;

    @include media-query($on-palm) {
        display: block;
    }
}

nav{
    flex: 1;
    padding-left: 1em;
    text-align: right;
 
    @include media-query($on-palm) {
        padding-left: 0;
        text-align: left;
        margin-bottom: 2rem;
    }

    li{
        list-style: none;
        border-bottom: 1px solid #dddddd;
    }

    a{
        display: block;
        padding: .5em .5em;
        line-height: 1;
        margin: .2em;
        font-weight: 800;
        transition: all .2s;

        &,
        &:visited{
            color: black;
        }

        &.active{
            color: $callout-color;
        }

        &:hover{
            color: darken($link-color, 20%);
            transform: translateX(2px) skew(-10deg);
        }

    }
}

.about{
    flex: 2;
    padding-top: 1rem;
    margin-bottom: 3rem;   

    @include media-query($on-palm) {
        margin-bottom: 1rem;   
    }

}

.about-content{
    width: 40vw;
    max-width: 35em;
    
    @include media-query($on-palm) {
        width: 100%;
    }
}

.site-title {
    font-size: 26px;
    font-family: $header-font-family;
    font-weight: $bold-font-weight;
    line-height: 56px;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin-bottom: 0;
}

.hire-link{
    margin: 0.5em 0;
    font-size: 26px;
    font-family: $header-font-family;
    font-weight: $bold-font-weight;
    padding: 0.3em 0.4em;
    line-height: 1;
    border-radius: .2em;
    transition: color .4s, background .4s;
    
    &,
    &:visited{
        color: white;
        background-color: $callout-color;
    }

    &:hover{
        color: lighten($callout-color, 50%);
        background-color: darken($callout-color, 5%);
        text-decoration: none !important;
    }

}

.twitter-container{
    height: 28px;
}

.twitter-follow-button{
    visibility: hidden;
}

.twitter-follow-button-rendered{
    visibility: visible;
}


/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



.site-footer{
    margin: 5rem 0;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    letter-spacing: -1px;
    line-height: 1;

    font-size: 6rem;

    @include media-query(2000px) {
        font-size: 5vw;
    }

    @include media-query($on-palm) {
        font-size: 2rem;
    }

}

.post-content {
    margin-bottom: $spacing-unit;
    font-weight: 400;
    font-size: 1.2rem;

    @include media-query($on-palm) {
        font-size: 0.8rem;
    }


    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    a{
      &:hover{
        text-decoration: underline;
      }
    }
}


/**
* home page
*/


.panel{
    margin-bottom: 3em;

    p{
        margin: 0;
    }

    h2{
        font-size: 6rem;

        @include media-query(2000px) {
            font-size: 5vw;
        }

        @include media-query($on-palm) {
            font-size: 2rem;
        }
    }

    time{
        display: block;
        font-size: 0.7rem;
        font-weight: 400;
        margin-bottom: 0.5rem;
    }

    iframe{
        display: none !important;
        max-width: 50vw;
        margin: 0 !important;
    }

    code{
        word-break: break-all !important;
    }
}

.pagination{
    margin-top: 50px;

    a{
        font-weight: bold;        
        text-decoration: underline;
    }
}

.read-more{
    display: block;
    padding-top: 0.5em;
    font-weight: bold;
    text-decoration: underline;
}

.talk{
    line-height: 1;
    margin: 2em 0;
    border-left: 2px solid darken($link-color, 20%);
    padding-left: .5em;

    h2{
        margin-bottom: .2em;
    }

    iframe{
        max-width: 100%;
    }
}

.events{
    margin-bottom: 1em;
}

.event{
    display: inline-block;
    color: white;
    background: $link-color;
    padding: .2em .3em;
    margin: .1em;
    font-size: .9rem;
    border-radius: .2em;
    transition: background .4s;
    line-height: 1;

    &:hover{
        background: darken($link-color, 20%);
    }
}


@media(max-width: 800px) {
  .main-quarter-img{
    display: none;
  }

  .main-quarter-text{
    width: 100%;
    &:after{
      display: none;
    }
  }

  iframe{
    height: 300px;
  }
}

@media(max-width: 500px) {
  .main-half{
    width: 100%;
  }

  .main-quarter-container{
    width: 100%;
  }

  iframe{
    height: 80%;
  }
}
